
<nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="font-family: 'candara', cursive;">Academic DB</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="font-family: Acme, sans-serif;" [routerLink]="['/records']" routerLinkActive="router-link-active" >Records</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="font-family: Acme, sans-serif;"  [routerLink]="['/auth']" routerLinkActive="router-link-active">Authentication</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="font-family: Acme, sans-serif;" [routerLink]="['/admin']" routerLinkActive="router-link-active">Administration</a></li>
                </ul>
        </div>
        </div>
    </nav>



<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <a href="#" class="navbar-brand">AcademicDB</a>
        </div>


          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" ><a class="abc" routerLink="/district">Districts</a></li>
                <li routerLinkActive="active" ><a routerLink="/auth">Authenticate</a></li>
                <li routerLinkActive="active"><a routerLink="/admin">Administrator</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
                <li class="dropdown" appDropdown >
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav> -->
