<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
       

<div class="container"> 

  
    <section class="header">
    
    </section>
    <div class="wrapper">
      <div class="wrap">
        <h1 class="Start">School Dashboard</h1>
       
        <div class="btn-big red" (click)="onClickTile('studentProfile', 'classList', 'none')"> <i class="fa fa-envelope fa-2x"></i> <span class="label bottom" >View Student Profile</span> </div>
        <div class="btn-big blue" (click)="onClickTile('studentAttendance', 'classList', 'chooser')"> <i class="fa fa-calendar fa-2x"></i> <span class="label bottom" >View Student Attendance</span> </div>
        <div class="btn-big orange" (click)="onClickTile('academicPerformance', 'classList', 'chooser')"> <i class="fa fa-windows fa-2x"></i> <span class="label bottom" >Academic Performance</span> </div>

        <div class="btn-small green" (click)="onClickTile('teacherProfile', 'teacherDivisionList', 'none')"> <i class="fa fa-windows fa-2x"></i> <span class="label bottom" >View Teacher Profile</span> </div>
        <div class="btn-big blue last" (click)="onClickTile('teacherAttendance', 'teacherDivisionList', 'chooser')"> <i class="fa fa-umbrella fa-2x"></i> <span class="label bottom" >View Teacher Attendance</span> </div>
        <div class="btn-big red-light" (click)="onClickTile('assignedClasses', 'teacherDivisionList', 'chooser')"> <i class="fa fa-wrench fa-2x"></i> <span class="label bottom" >View Teacher's Assigned Classes</span> </div>

        <div class="btn-big purple" (click)="onClickTile('schoolProfile', 'school', 'none')"> <i class="fa fa-video-camera fa-2x"></i> <span class="label bottom" >View School Profile</span> </div>
        <!-- <div class="btn-small orange" (click)="onClickTile('addClass', 'school', 'none')"> <i class="fa fa-music fa-2x"></i> <span class="label bottom" >Add Class</span> </div> -->
        <div class="btn-small orange" (click)="openClassBox()"> <i class="fa fa-music fa-2x"></i> <span class="label bottom" >Add Class</span> </div>
        <div class="btn-small green-bright last" (click)="onClickTile('addStudent', 'school', 'none')"> <i class="fa fa-gamepad fa-2x"></i> <span class="label bottom" >Add Student</span> </div>
        <div class="btn-small blue" (click)="onClickTile('addTeacher', 'school', 'none')"> <i class="fa fa-twitter fa-2x"></i> <span class="label bottom" >Add Teacher</span> </div>
        <div class="btn-small red-light" (click)="openSubjectBox()"> <i class="fa fa-twitter fa-2x"></i> <span class="label bottom" >Add Subject</span> </div>

        </div>
      </div>
  
  </div>
  
        
        <script src="" async defer></script>
    </body>
</html>