.row{
  background-color:rgba(186, 235, 245,0.3);
  margin: 0px;
  position: relative;
  top:50px;
  border-style:solid;
  border-color:#132a70;
  border-width: 0;
  width: auto;
  height:400px;
}

.col-xs-4{
  width:30%;
  padding: 1%;
  position: relative;
  left:50px;
}

hr
{
  position:relative;
  top:-3vh;
}

h2{
  color:#164a4f;;
  text-align: center;
  vertical-align: middle;
  height: 65px;
  -webkit-text-stroke: 0.3px #164a4f;
}
li
{
  font-size: 15.5px;
  text-align: center;
  background-color: #edfafc;
  color:#164a4f;
}

li:hover:not(.active)
{
  background-color:#badbff;
  opacity:0.8;
  color:black;
}

.list-group-item.active
{
  background-color:rgba(186, 235, 245,0.3);
  border: none;
  font-size: 20.5px;
  color: #132a70;
  font-weight: normal;
}
.list-group
{
  overflow-y: scroll;
  overflow-x:none;
  height: 200px;
  border-radius: 3%;

}
.list-group::-webkit-scrollbar {
    display: none;
}

.list-group {
    -ms-overflow-style: none;
}

@media only screen and (max-device-width: 1024px) {
.col-xs-4
{ position: relative;
  left:3vw;}

h2
{ font-size: 22px;
  position: relative;
  bottom:10px;
  color:#162121;}

hr{display: none;}
.list-group-item.active{ font-size: 16px;}
.row{height:350px;}

}

@media(max-width:950px){
.col-xs-4
{
  position: relative;
  left:25px;
}
hr{display: none;}
h2{
  position: relative;
  font-size: 25px;
  bottom:10px;
  color:#162121;
}
.row{height:350px;}

  }
