<div class="container">
    <form #schoolDetails>
        <div class="form-row">
            <div class="col">
                <h1 align="center">
                    {{ school?.name }}
                    <span class="float-right">
                        <img src="https://oxfordpublicschool.net/sliders/OXFORD%20ps%20logo%20final2.png"
                            alt="OXFORD"
                            height="100px"
                            width="100px">
                    </span>
                </h1>
                <hr>
            </div>
        </div>
        <div class="form-row1">
            <div class="col m-auto"><label class="col-form-label" for="schoolcode">School Code &nbsp; :</label></div>
            <div class="col-auto"><label class="col-form-label"></label></div>
            <div class="col1"><label class="col-form-label" for="admissionNoValue">{{ school?.schoolcode }}</label></div>
        </div>
        <div class="form-row2">
            <div class="col m-auto"><label class="col-form-label" for="address">Address &nbsp; :</label></div>
            <div class="col-auto"><label class="col-form-label"></label></div>
            <div class="col1"><label class="col-form-label" for="nameValue">{{ school?.address }}</label></div>
        </div>
        <div class="form-row3">
            <div class="col m-auto"><label class="col-form-label" for="subDistrict">Sub District &nbsp; :</label></div>
            <div class="col-auto"><label class="col-form-label"></label></div>
            <div class="col1"><label class="col-form-label" for="rollnoValue">{{ school?.subDistrict }}</label></div>
        </div>
        <div class="form-row4">
            <div class="col m-auto"><label class="col-form-label" for="board">Board &nbsp; :</label></div>
            <div class="col-auto"><label class="col-form-label"></label></div>
            <div class="col1"><label class="col-form-label" for="standardValue">{{ school?.board }}</label></div>
        </div>
        <div class="form-row5">
            <div class="col m-auto"><label class="col-form-label" for="principal">Principal &nbsp; :</label></div>
            <div class="col-auto"><label class="col-form-label"></label></div>
            <div class="col1"><label class="col-form-label" for="sectionValue">{{ school?.principal }}</label></div>
        </div>
        <div class="form-row6">
            <div class="col m-auto"><label class="col-form-label" for="gender">Teacher Count &nbsp; :</label></div>
            <div class="col-auto"><label class="col-form-label"></label></div>
            <div class="col1"><label class="col-form-label" for="genderValue">{{ school?.teacherCount }}</label></div>
        </div>
        <hr>
    </form>
</div>
