<form #standardList>
    <div class="container">

     <h1 style="color:black;" class="head">Class List</h1><br><hr />
        <div class="form-row">
            <div class="col">
                <ul class="list-group" *ngIf="standardData?.length != 0">
                    <li class="list-group-item"
                        *ngFor="let standard of standardData;"
                        (click)="onSelectStandard(standard)">
                        {{ standard | uppercase }}
                    </li>
                </ul>
                <h3 *ngIf="studentData?.length == 0">No classes to show</h3>
            </div>
        </div>
        </div>
</form>
