.list-group-item{
    width: 35rem;
    left: 15vw;
    background: linear-gradient( rgba(36, 142, 199,0.5));
}

.head{
    left: 20vw;
    width: 30rem;
    align-content: center;
    text-align: center;
    font-weight: bolder;
   
}