<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome to AcademicDB</h1><br>
            <h4>Portal under construction. <br><br> For now, please use the below buttons to access the non-linked components of the app ;)</h4><br>
            <div class="row">
                <div class="col">
                    <button class="btn btn-danger" (click)="openRecords('records')">Records</button> | 
                    <button class="btn btn-danger" (click)="openRecords('student')">Student Details</button>
                </div>
            </div>
        </div>
    </div>
</div>