<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bgimg-1">
  <div class="caption">
  <!--<span class="border"></span>-->
  </div>
</div>

<div class="top-container" style="color: #777;background-color:white;text-align:center;padding:150px 20px;text-align: justify;position:relative; bottom:30px;">
  <div class="heading">

    <h3 style="text-align:center;">Welcome To AcademicDB</h3>
  <p style="text-align:center;">
    The One-Stop Solution for Schools
  </p>
  </div>
  <div class="feature-container">
    <div class="f1">
    <img src="assets\img\multiuser2.png" class="image">
    <p style="position:relative; left:-15px; font-size:14px;">
     View Student Records
      </p>
      </div>

      <div class="f2">
      <img src="assets\img\f2.png" class="image">
      <p style="position:relative; left:-10px; font-size:14px;">
       Mark Attendance
        </p>
        </div>


        <div class="f3">
        <img src="assets\img\f3.png" class="image">
        <p style="position:relative; left:-10px; font-size:14px;">
         Upload Marks
          </p>
          </div>

        <div class="formobile">
          <ul>
            <li>View Student Records</li>
            <li>Mark Attendance</li>
            <li>Upload Marks</li>
          </ul>

          </div>

    </div>

</div>


<div class="bgimg-2">
  <div class="caption">
    <h4>Portal under construction. <br><br> For now, please use the below buttons to access the non-linked components of the app ;)</h4><br>
    <button class="btn btn-danger" (click)="openComponent('records')">Records</button> |
    <button class="btn btn-danger" (click)="openComponent('login')">Login</button> |
    <button class="btn btn-danger registerbutton" (click)="openComponent('register')">Register</button>
  <!--<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>-->
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify; position:relative; bottom:29px">
  <p style="text-align:center"> We provide the complete solution to maintain school records in a hassle-free and efficient way.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <h4>Below mentioned trees have been linked.</h4><br>
    <!--<h5>-> Records Tree 1 <-</h5>-->
    <p>district > subdistrict > school > schoolDetails > studentRecords (class list) > studentList > studentDetails</p>
  <!--<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>-->
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;  position:relative; bottom:29px">
  <p style="text-align:center;">MADE BY JIIT_PUSH
    <br /><br />
    <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
    <p>
  </div>
</div>
