<div class="row1">

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome to AcademicDB</h1><br>
            <h4 class="subline"> The One-Stop Solution for Schools</h4>
            <h4>Portal under construction. <br><br> For now, please use the below buttons to access the non-linked components of the app ;)</h4><br>
            <div class="row">
                <div class="col">
                    <button class="btn btn-danger" (click)="openComponent('records')">Records</button> |
                    <button class="btn btn-danger" (click)="openComponent('login')">Login</button> |
                    <button class="btn btn-danger" (click)="openComponent('register')">Register</button>
                </div>
            </div><br><br>
            <h4>Below mentioned trees have been linked.</h4><br>
            <h5>-> Records Tree 1 <-</h5>
            <p>district > subdistrict > school > schoolDetails > studentRecords (class list) > studentList > studentDetails</p>
        </div>
    </div>
</div>
</div>
<div class="features">
  <p>
    ent speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam mae
    </p>
  </div>
