<div class="row">
    <div class="col-xs-4">
        <h2 style="color: rgb(109, 109, 109);">Choose a District</h2>
        <hr>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let dist of district;" 
                [routerLink]="['/', dist]" routerLinkActive="active" >
                {{ dist | uppercase}}</li>
        </ul>
    </div>
    <div class="col-xs-20">
        <router-outlet></router-outlet>
    </div>



    <div class="col-xs-4">

    </div>
</div>